{
    # Configuración global de FrankenPHP
    frankenphp
    order php_server before file_server
}

:8080 {
    # Raíz del proyecto Laravel
    root * /app/public

    # Configuración PHP
    php_server

    # Archivos estáticos
    file_server

    # Logs
    log {
        output stdout
        format json
    }
}
