{
    frankenphp
    order php_server before file_server
    auto_https off # Disable for production
}

:8080 {
    root * /app/public
    encode gzip
    php_server
    try_files {path} {path}/ /index.php?{query}
    file_server

    log {
            output stdout
            format console
            level INFO
        }
}
